@import url("footer.css");

.foto-placeholder {
  width: 155px;
  height: 155px;
  text-align: center;
  line-height: 155px;
  background-color: #eee;
  border-radius: 2px;
  display: inline-block;
}

.img-thumbnail {
  margin-bottom: 12px;
}

input[name=gimmick] {
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  padding: 0 5px;
  width: 96px;
  margin-right: 5px;
}

.nav-user-avatar {
  width: 36px;
  height: 36px;
}
